
body {
    background-image: url('background03.jpg'); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease, background-image 0.5s ease; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hexagon {
    width: 50px; 
    height: 50px; 
    background-color: rgba(151, 149, 145, 0.7); 
    backdrop-filter: blur(5px); 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; 
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.2rem;
    border-radius: 5px; 
}


.hexagon:hover,
.hexagon:focus {
    background-color: rgba(255, 255, 255, 0.5); 
    border: 2px solid rgba(151, 149, 145, 0.9); 
    outline: none; 
}

.waves {
    animation: wave 1s infinite;
}

@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

/* Switch butonu stili */
.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 3.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    cursor: pointer; 
}

/* Slider stili */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(215, 215, 228);
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 20px;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}

/* Switch aktif durumu */
.switch.active .slider {
    background-color: #37393f;
}

.switch.active .slider:before {
    left: calc(100% - 1.7rem);
    background: #37393f;
    box-shadow:
        inset -3px -2px 5px -2px #8983f7,
        inset -10px -4px 0 0 #a3dafb;
}

/* Dairesel kutu stili */
.toggle {
    width: 1.4rem;
    height: 1.4rem; 
    background-color: white; 
    border-radius: 50%; 
    transition: transform 0.4s ease; 
}

/* Dairesel kutunun konumu */
.switch.active .toggle {
    transform: translateX(1.5rem);
}

/* Responsive ayarlar */
@media (max-width: 768px) {
    .hexagon {
        width: 40px;
        height: 40px; 
        font-size: 1rem; 
    }
}